/* Reset some default styles */
html,
body {
  margin: 0;
  padding: 0;
}

/* Common styles for main page and project pages */
body {
  font-family: Arial, sans-serif;
  background-color: black;
  color: #fff;
}

header {
  background-color: black;
  padding: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

nav {
  /* Add your navigation styles here */
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline-block;
  margin-right: 20px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

main {
  padding: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

section#project-details {
  background-color: #1d2226;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
}

section#project-details h2 {
  color: #fff;
  margin-top: 0;
}

section#project-details p {
  margin-bottom: 10px;
}

section#project-details a {
  color: #007bff;
  text-decoration: none;
}

footer {
  background-color: black;
  padding: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  color: #fff;
}

/* Specific styles for project pages */
section#project-details a:hover {
  text-decoration: underline;
}

.styled-button {
  display: inline-block;
  padding: 12px 24px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: #ffffff;
  transition: background-color 0.3s, color 0.3s, transform 0.3s;
  cursor: pointer;
}

.styled-button:hover {
  background-color: #ff7f50;
  color: #ffffff;
  transform: scale(1.05);
}

.styled-button:focus {
  outline: none;
  box-shadow: 0 0 0 3px #ff7f50;
}
/* Media query for screens with a maximum width of 767px (typical for mobile devices) */
@media (max-width: 600px) {
  .styled-button {
    padding: 10px 15px;
    font-size: 17px;
  }
}

/* project_style.css */

#project-gallery {
  background-color: #1d2226;
  padding: 10px 0;
}

.gallery-item {
  margin-bottom: 30px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.gallery-item img {
  width: 100%;
  height: auto;
  border: 1px white solid;
}

.cen {
  text-align: center;
  margin-bottom: 25px;
}
